<?php
$settings['db_host'] = '$DBURL';
$settings['db_name'] = 'chevereto';
$settings['db_user'] = '$DBUSER';
$settings['db_pass'] = '$DBPASSWORD';
$settings['db_table_prefix'] = 'chv_';
$settings['db_driver'] = 'mysql';
$settings['db_pdo_attrs'] = [];
$settings['debug_level'] = 1;

